.c-input {
  display: inline-block;
  input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #b5b5b5;
  }

  @include breakPoint(md) {
    width: 300px;
  }

  @include breakPoint(sm) {
    width: 100%;
  }

  &--full {
    width: 100%;
  }
}

.c-radio {
  display: block;
  + .c-radio {
    margin-top: 15px;
  }
  [type=radio]:checked + label {
    &::before {
      border: solid 1px palette('black');
    }
    &::after {
      left: 5px;
      background: palette('black');
    }
  }
  label {
    display: inline-block;
    position: relative;
    padding-left: 2em;
    line-height: 1;
    cursor: pointer;
    &::before, &::after {
      content: '';
      position: absolute;
      @include topCenter;
      border-radius: 50%;
    }
    &::before {
      left: 0;
      border: solid 1px palette('border');
    }
  }

  @include breakPoint(md) {
    [type=radio]:checked + label {
      &::after {
        width: 10px;
        height: 10px;
      }
    }
    label {
      &::before {
        width: 18px;
        height: 18px;
      }
    }
  }

  @include breakPoint(sm) {
    [type=radio]:checked + label {
      &::after {
        width: 15px;
        height: 15px;
      }
    }
    label {
      &::before {
        width: 23px;
        height: 23px;
      }
    }
  }
}

.c-select {
  display: inline-block;
  position: relative;
  select {
    display: inline-block;
    width: 100%;
    padding: 12px 16px;
    font-size: 20px;
    background: #fff;
    border: 1px solid palette('black', '2');
  }
  &::after {
    content: '\0025bc';
    position: absolute;
    @include topCenter;
    right: 16px;
    font-size: 10px;
    pointer-events: none;
  }

  @include breakPoint(md) {
    width: 160px;
  }
  @include breakPoint(sm) {
    width: 100%;
  }
}